<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>侧边栏</title>
</head>
<body>

<!-- 侧边栏 -->
<div id="toorbar">
    <div class="toorbar-box">
        <div class="toobar-box-height"></div>
        <a class="toorbar-box-service ntkf-service" data-ntkf="" href="javascript:void(0);">
            <span class="iconfont icon-kefu1"></span>
            <em class="text ">客服</em>
        </a>
        <div class="toorbar-box-shopcar">
            <a class="" target="_blank" href="/HappysysUser/loadUserPersonalCenter?pageName=shopping_cart">
            <span class="iconfont icon-shopcar"></span>
            <em class="text">购物车</em>
            <span class="num" id="shopCartNo"></span>
            </a>
        </div>
        <div class="toorbar-box-shopvs">
            <span class="iconfont icon-duibi"></span>
            <em class="text">产品对比</em>
            <em class="vs"><i>0</i>/4</em>
        </div>
        <div class="toorbar-box-wechart">
            <span class="iconfont icon-erweima"></span>
            <div class="wechart child">
                <p><span>微信公众号</span><img src="https://resource.kaixinbao.com/r02/images/common/wechat14.png" alt=""></p>
                <p><span>下载app</span><img src="https://resource.kaixinbao.com/r02/images/common/app.jpg" alt=""></p>
            </div>
        </div>
        <div class="toorbar-box-top">
            <span class="iconfont icon-top"></span>
            <div class="top child">返回顶部</div>
        </div>
        <div class="toorbar-box-vs">
            <div class="title"><em>产品对比</em><span class="closed">关闭</span></div>
            <p class="tip">最多可对比 <em>4</em> 款产品</p>
            <div class="content">
            </div>
            <div class="beginvs">
                <span>已选<em class="nums">0</em>件产品</span>
                <a href="javascript:void(0);">开始对比</a>
            </div>
        </div>
    </div>
</div>
<!-- /侧边栏 -->

</body>
</html>