<link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">


<!--change_password-->
<link rel="stylesheet" href="https://mresource.kaixinbao.com/member/pc/r02/css/member/mod_rpassword.css">


        <div class="member-order-nav">
            <h2 class="title"><span></span>密码修改</h2>
        </div>
        <div class="member-rpassword-con">
            <!-- 验证身份-->
            <div class="passone" style="display: block">
                <img src="https://mresource.kaixinbao.com/member/pc/r02/images/member/lc1.png" class="lcimg" alt=""/>
                <div class="telbox">
                    <ul class="validate">
                        <li>
                            <div class="item"><span>已验证账户：</span></div>
                            <div class="text">
                                <div class="con" data-id="phone">

                                    <select id="validatetype" style="width: 250px;height: 40px;border: 1px solid gainsboro;">
                                        <option value="" selected="">请选择</option>
                                        <option th:value="${session.user.userPhone}">手机号：[[${session.user.userPhone}]]</option>
                                        <option th:if="${session.user.userEmail != null}" th:value="${session.user.userEmail}">邮箱：[[${session.user.userEmail}]]</option>
                                    </select>

                                    <input type="hidden" name="validatetypeHid" value="">
                                    <span class="tip">信息有误？<a href="javascript:void(0);" class="zixun">联系客服</a></span>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="item"><span>验证码：</span></div>
                            <div class="text">
                                <input type="text" id="imgValidateCode" class="input-img"  data-verify="NOTNULL|验证码不为空" placeholder="请输入验证码" />
                                <div class="imgcode">
                                    <img id="imgVerify" src="/login/getVerify" onclick="getVerifyimg(this);" alt=""/>
                                    <span>看不清？</span>
                                    <a href="javascript:void(0)" onclick="getVerifyimg(this);">换一张</a>
                                </div>
                            </div>
                            <div class='tipimg' style="display: none"><em class="i-member i-th"></em><span>图片验证码有误</span></div>
                        </li>
                        <li class="telli check">
                            <div class="item"><span>请填写短信验证码：</span></div>
                            <div class="text">
                                <input type="text" id="inputPhoneOrEmailCode" data-verify="NOTNULL|验证码不为空"  />
                                <button class="btn-send send" id="huoDeValidateCode" href="javascript:void(0)" onclick="getVerify();">获取验证码</button>
                            </div><!--waiting   disabled   -->
                        </li>
                    </ul>
                    <a href="javascript:void(0);" onclick="submitValidate()" class="submitbtn">提交</a>
                </div>
            </div>
            <!-- /验证身份/-->


            <!-- 修改密码-->
            <div class="passtwo" style="display: none">
                <img src="https://mresource.kaixinbao.com/member/pc/r02/images/member/lc2.png" class="lcimg" alt=""/>
                <ul class="validate">
                    <li>
                        <div class="item"><span>输入新密码：</span></div>
                        <div class="text">
                            <input type="password" id="newPassword" data-verify="NOTNULL|新密码不能为空&&CFMEQUAL|两次密码不一致" placeholder="请输入新密码"/>
                        </div>
                    </li>
                    <li>
                        <div class="item"><span>重复密码：</span></div>
                        <div class="text">
                            <input type="password" id="rePassword" data-verify="NOTNULL|密码不为空&&CFMEQUAL|两次密码不一致" placeholder="请再次输入密码"/>
                        </div>
                    </li>
                </ul>
                <a href="javascript:void(0);" onclick="updatePwd()" class="submitbtn">确认修改</a>
            </div>
            <!-- /修改密码-->


            <!-- 完成-->
            <div class="passthree" >
                <img src="https://mresource.kaixinbao.com/member/pc/r02/images/member/lc3.png" class="lcimg" alt=""/>
                <img src="https://mresource.kaixinbao.com/member/pc/r02/images/member/success.png" class="scuess" alt=""/>
                <p>修改密码成功</p>
                <a href="/" class="submitbtn">返回首页</a>
            </div>
            <!-- /完成-->
        </div>


<script type="text/javascript" th:inline="javascript">require(['member/mod_password']);

function updatePwd() {
    var $newPwd = $("#newPassword").val();
    var $rePwd = $("#rePassword").val();
    if($newPwd == "" || $newPwd == null || $rePwd == "" || $rePwd == null){
        layer.msg('请填写完整信息！');
        return;
    }
    if($newPwd != $rePwd){
        layer.msg('两次密码不一致！');
        return;
    }
    $.post('/HappysysUser/updatePwd',{userPassword:$newPwd},function (result) {
        if(result == true){
            showCurrentHideSiblings(document.getElementsByClassName("passthree")[0]);
        }else {
            layer.msg('修改密码失败，请联系管理员！');
        }
    });
}

function showCurrentHideSiblings(currentObj) {
    $(currentObj).attr("style","display: block").siblings().attr("style","display: none");
}

//发送验证码：
function getVerify() {
    var $validatetype = $("#validatetype").val();

    //alert($validatetype);
    if($validatetype==""||$validatetype==null){
        layer.msg('请选择验证账户类型！');
        $(".product"+shoppingCartId).remove();
        return;
    }
    if($validatetype.indexOf("@") == -1){     //不存在@符号表示是手机号码验证
        $.post('/generate/erweima',{phone:$validatetype},function (result) {
            $("#huoDeValidateCode").addClass("waiting").attr("disabled","disabled");
            schedule = setInterval("huoDeValidateCodeFunction()",1000);
            emaiOrPhonelVerificationCode = result;
            layer.msg('发送手机短信成功！');
        });
    }else {//邮箱验证
        $.post('/HappysysUser/emailValidate',{email:$validatetype},function (result) {
            $("#huoDeValidateCode").addClass("waiting").attr("disabled","disabled");
            schedule = setInterval("huoDeValidateCodeFunction()",1000);
            emaiOrPhonelVerificationCode = result;
            layer.msg('发送邮箱成功！');
        });
    }
}
var schedule ;

var emaiOrPhonelVerificationCode ;

var intervalNum = 60;
function huoDeValidateCodeFunction() {
    $("#huoDeValidateCode").html("重新发送（"+intervalNum+"）");

    intervalNum = intervalNum -1;
    if(intervalNum <= -1){
        $("#huoDeValidateCode").html("重新发送").removeClass("waiting").removeAttr("disabled");
        intervalNum = 60;
        clearInterval(schedule);
    }
}

function submitValidate() {
    var $inputPhoneOrEmailCode = $("#inputPhoneOrEmailCode").val();
    var $imgValidateCode = $("#imgValidateCode").val();

    if($inputPhoneOrEmailCode == "" || $inputPhoneOrEmailCode == null || $imgValidateCode == "" || $imgValidateCode == null){
        layer.msg('请输入验证码！');
        return;
    }
    var flag = false;
    $.ajax({async: false,type: 'post',url: '/login/checkVerify',dataType: "json",
        data: {verifyInput: $imgValidateCode},
        success: function (result) {
            flag = result;
        }
    });
    if(flag == false){
        layer.msg('图片验证码验证错误！');
        getVerifyimg();
        return;
    }
    if($inputPhoneOrEmailCode != emaiOrPhonelVerificationCode){
        layer.msg('短信验证码验证错误！');
        return;
    }

    showCurrentHideSiblings(document.getElementsByClassName("passtwo")[0]);
}

//获取图片验证码
function getVerifyimg() {
    $("#imgVerify").attr("src", '/login/getVerify?' + Math.random());
}

</script>

<script type="text/javascript" th:src="@{/layui/layui.all.js}" src="/layui/layui.all.js" charset="utf-8"></script>
