<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收银台-开心保保险网</title>

    <!--全局通用样式 -->
    <link rel="stylesheet" type="text/css" href="http://resource.kaixinbao.com/style/redesign/re_header.css"/>
    <link rel="stylesheet" type="text/css" href="http://resource.kaixinbao.com/style/new_logo.css">
    <!--购买流程通用样式-->
    <link rel="stylesheet" type="text/css" href="http://resource.kaixinbao.com/style/shop/css/re_shops.css"/>
    <link rel="stylesheet" type="text/css" href="http://resource.kaixinbao.com/style/skins/default.css"/>
    <link rel="shortcut icon" href="https://resource.kaixinbao.com/r02/images/favicon.ico"/>
    <!--支付页面样式-->
    <link rel="stylesheet" type="text/css" href="http://resource.kaixinbao.com/style/skins/default.css"/>
    <style>
        /*update artDialog win
        .aui_buttons button {display: block; margin:0 auto;}
        */
        .aui_buttons{background: none;  border-top:none;}
        /*余额支付*/
        .close_col{ background: url(http://resource.kaixinbao.com/images/jifen/fs_03.png) no-repeat;  width: 24px; height: 24px; position: absolute; right:10px; top: 6px; cursor: pointer;}
        .balance_pay{ padding-left: 50px;}
        .balance-tit{ font-weight: bold; padding-bottom: 6px;}
        .balance_box{ padding-left: 30px; }
        .balance_box p{ margin-bottom: 6px;}
        .balance_zfx{ padding-left: 120px; background: url(http://www.inswindow.com/agent/images/wjs/zf_logo_03.gif) no-repeat; height: 30px; line-height: 30px;}
        .balance_input{ width: 160px; border: 1px solid #ccc; height: 24px; line-height: 24px; color: #333333; padding-left: 6px;}
        .balance_btsf{ display:inline-block; zoom:1; margin-left: 4px; width: 98px; height: 27px; border: none; cursor: pointer; line-height: 27px; text-align: center; color: #fff; background: #FF6D00;}

    </style>

</head>

<body>

<!--top头部-->
<div th:replace="~{header/ProductListHeader::#tou}"></div>
<!--top头部end-->

<!-- 弹窗添加代码 -->
<input hidden id="microServiceMemberDomain" value="https://vipm.kaixinbao.com/">
<!-- 弹窗添加代码 end -->


<div class="wrapper">
    <!--理财险特有支付 开始-->
    <form action="/tradePay" id="payment_order" name="payment_order" method="post">

        <div class="re-line-log">
            <ul class="re-line-ul">
                <li class="re-line-d"><div class="re-linehead re-linehead1"><span></span></div><h3 class="re-line-h3">1、填写投保信息<p>我们对您填写的信息严格保密</p></h3><span class="re-line-jiao"></span></li>
                <li class="re-line-d"><div class="re-linehead re-linehead2"><span></span></div><h3 class="re-line-h3">2、确认保单<p>确认信息填写是否正确无误</p></h3><span class="re-line-jiao"></span></li>
                <li class="re-line-s"><div class="re-linehead re-linehead3"><span></span></div><h3 class="re-line-h3">3、在线支付<p>
                    支持多种支付方式</p></h3><span class="re-line-jiao"></span></li>
            </ul>
        </div>
        <div class="clear"></div>

        <div class="w900 order-bg">
            <div class="line_a shop_sptitle ">
                <div class="pay_box">
                    <div class="ins-tit un_bot_bor">支付清单</div>
                    <table width="100%" border="1">

                        <tbody><tr>
                            <th><span class="ins-tit-c">订单号</span></th>
                            <th colspan="4"><span class="ins-tit-ordernum"><a href="/wj/shop/order_config_new!linkOrderDetails.action?orderSn=2012000002393450&amp;KID=9f3877b0eb3bc8defef977112ea19e0e" target="_blank" th:text="${session.order.getOrderNumber()}"></a></span></th>
                        </tr>
                        <tr>
                            <td width="15%" class="ins-tit-td">用户</td>
                            <td class="ins-tit-td">起止日期</td>
                            <td width="15%" class="ins-tit-td">状态</td>
                            <td width="15%" class="ins-tit-td">费用合计</td>
                        </tr>
                        <tr>
                            <td th:text="${session.user.userName}"></td>
                            <td>[[${#dates.format(session.order.getOrderTime(),'yyyy-MM-dd')}]]00时&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;[[${#dates.format(session.order.getOrderTime(),'yyyy-MM-dd')}]]24时为止</td>
                            <td>待支付</td>
                            <td nowrap=""><b class="pay_jg">￥</b><font class="pay_jg" id="pay_price" th:text="${#numbers.formatInteger(session.order.getOrderPrice(),3,'COMMA')}"></font>

                                <span class="yhj_yhts" id="yhj_tb_des"></span></td>
                        </tr>
                        <tr>
                            <td class="clear-td-bor no-yh-td" colspan="5"></td>
                        </tr>
                        </tbody></table>


                    <div class="yhhd-des" style="display:none"></div>

                    <div id="yhj_form" class="pay_postion_box">
                        <table class="gwc_js_tables">
                            <tbody>

                            <tr>
                                <td class="gwc_js_table"></td>
                                <td class="gwc_js_table_w"><span class="gwc_dd">您需要支付：</span></td>
                                <td class="gwc_js_table_pay">
										<span class="gwc_dd">
													<b class="pay_jg_2 ">￥</b><i class="pay_jg_3 " id="p_price" th:text="${#numbers.formatInteger(session.order.getOrderPrice(),3,'COMMA')}"></i>
										</span>
                                </td>
                            </tr>
                            </tbody></table>

                        <input type="hidden" name="orderId"  th:value="${session.order.getOrderId()}">
                        <input type="hidden" name="orderNumber"  th:value="${session.order.getOrderNumber()}">

                        <input type="hidden" name="orderPrice" th:value="${session.order.getOrderPrice()}">
                        <input type="hidden" name="orderFaceAmount" th:value="${session.order.getOrderFaceAmount()}">
                        <input type="hidden" name="orderTime" th:value="${session.order.getOrderTime()}">
                        <input type="hidden" name="orderExpireTime" th:value="${session.order.getOrderExpireTime()}">
                        <input type="hidden" name="orderStatus" th:value="${session.order.getOrderStatus()}">

                        <input type="hidden" name="orderApplicantId" th:value="${session.order.getOrderApplicantId()}">
                        <input type="hidden" name="orderRecognizeeId" th:value="${session.order.getOrderRecognizeeId()}">
                        <input type="hidden" name="orderProductId" th:value="${session.order.getOrderProductId()}">
                        <input type="hidden" name="orderUserId" th:value="${session.order.getOrderUserId()}">

                    </div>
                </div>
                <div class="clear">clear</div>

                <!--理财险特有支付 开始-->
                <!--理财险特有支付 结束-->

                <div class="pay_box">
                    <div class="ban_pay" style="display:none;" id="pay_zero_box">
                        <div class="banpay_con">
                            <span class="ban_header"></span><span class="ban_con">亲爱的用户，点击“<em class="red">确认支付</em>”即可成功支付本次订单哦！</span>
                        </div>
                    </div>
                    <div class="ins-tit">请选择付款方式</div>
                    <div class="pay_zhifu">
                        <div class="platform">
                            <span class="pt-tags">支付平台</span>
                            <ul class="platform_list clearfix">
                                <li>
                                    <a href="javascript:void(0);" onclick="sub()"></a><img class="select_bank" src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo40.gif" width="150" height="38" alt="支付宝"></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="dosubmit('ybzf', '')"></a><img class="select_bank" src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo39.gif" width="150" height="38" alt="易宝支付"></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="dosubmit('kqzf', '')"></a><img class="select_bank" src="http://resource.kaixinbao.com/style/shop/images/pay/kq_logo.gif" width="150" height="38" alt="快钱支付"></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="dosubmit('wx_tl', '')"></a><img class="select_bank" src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo42.gif" width="150" height="38" alt="微信支付"></li>
                            </ul>
                        </div>
                        <div class="pay_bank" id="tag_box">
                            <ul class="tag_banktitile" id="selectTagBox">
                                <li class=""><a href="###">网银支付</a></li>

                                <li class=""><a href="###">企业网银</a></li>
                            </ul>
                            <div id="pay_bank_box" class="pay_bank_boxs">

                                <div class="bank_list clearfix">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_ICBC-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo01.gif" width="150" height="38" alt="易宝支付_中国工商银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CCB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo02.gif" width="150" height="38" alt="易宝支付_建设银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_BOC-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo03.gif" width="150" height="38" alt="易宝支付_中国银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_POST-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo04.gif" width="150" height="38" alt="易宝支付_中国邮政储蓄银行"></li>
                                        <li class="clear-msf">
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_BOCO-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo05.gif" width="150" height="38" alt="易宝支付_交通银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_ABC-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo06.gif" width="150" height="38" alt="易宝支付_农业银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CMBCHINANET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo07.gif" width="150" height="38" alt="易宝支付_招商银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_SPDB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo08.gif" width="150" height="38" alt="易宝支付_上海浦东发展银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CMBC-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo09.gif" width="150" height="38" alt="易宝支付_中国民生银行"></li>
                                        <li class="clear-msf">
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_SDB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo10.gif" width="150" height="38" alt="易宝支付_深圳发展银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CIB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo11.gif" width="150" height="38" alt="易宝支付_兴业银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_BCCB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo12.gif" width="150" height="38" alt="易宝支付_北京银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CEB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo13.gif" width="150" height="38" alt="易宝支付_中国光大银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_ECITIC-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo14.gif" width="150" height="38" alt="易宝支付_中信银行"></li>
                                        <li class="clear-msf">
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_GDB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo15.gif" width="150" height="38" alt="易宝支付_广东发展银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_PINGANBANK-NET', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo16.gif" width="150" height="38" alt="易宝支付_平安银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_SHB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo19.gif" width="150" height="38" alt="易宝支付_上海银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_BJRCB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo22.gif" width="150" height="38" alt="易宝支付_北京农村商业银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CBHB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/ebzf_41.jpg" width="150" height="38" alt="易宝支付_渤海银行"></li>
                                        <li class="clear-msf">
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_NCBBANK-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/ebzf_45.jpg" width="150" height="38" alt="易宝支付_南洋商业银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_SCCB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/ebzf_46.jpg" width="150" height="38" alt="易宝支付_河北银行"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_ZJTLCB-NET-B2C', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/ebzf_47.jpg" width="150" height="38" alt="易宝支付_泰隆银行"></li>
                                    </ul>
                                </div>

                                <div class="bank_list clearfix" style="display:none;">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_ICBC-NET-B2B', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo26.gif" width="150" height="38" alt="易宝支付_工商银行企业网银"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_ABC-NET-B2B', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo27.gif" width="150" height="38" alt="易宝支付_中国农业银行企业网银"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CCB-NET-B2B', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/zflogo28.gif" width="150" height="38" alt="易宝支付_建设银行企业网银"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CMBCHINA-NET-B2B', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/ebzf_9.jpg" width="150" height="38" alt="易宝支付_招商银行企业网银"></li>
                                        <li class="clear-msf">
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_CEB-NET-B2B', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/ebzf_48.jpg" width="150" height="38" alt="易宝支付_光大企业网银"></li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="dosubmit('ybzf_SDB-NET-B2B', '')"></a><img src="http://resource.kaixinbao.com/style/shop/images/pay/ebzf_49.jpg" width="150" height="38" alt="易宝支付_深发企业网银"></li>
                                    </ul>
                                </div>

                            </div>

                            <script type="text/javascript">

            /*                    $("#selectTagBox").click(function(){

                                    $("#pay_bank_box").find("div").eq($(this).index()).show();
                                    $("#pay_bank_box").find("div").eq($(this).index()).show();

                                })*/

                            </script>

                        </div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </form>
</div>

<div class="g-main-con">
    <div class="clear h20"></div>
    <!-- foot -->
    <div class="g-weaper">
        <div class="g-footer">
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon1 "></em>正品保险</dt>
                <dd>中国保监会监制</dd>
                <dd>保险公司授权</dd>
                <dd>高性价比产品</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon2 "></em>快捷投保</dt>
                <dd>全方位一键对比</dd>
                <dd>1对1保险顾问指导</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon3 "></em>省心服务</dt>
                <dd>电子保单快捷变更</dd>
                <dd>满200元发票包邮</dd>
                <dd>免费协助理赔无差异</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon4 "></em>安全可靠</dt>
                <dd>7x24小时客服不间断</dd>
                <dd>风险提示保障安全</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon5 "></em>品牌实力</dt>
                <dd>7年800万用户选择</dd>
                <dd>2013年最佳保险中介</dd>
                <dd>30+知名保险合作伙伴</dd>
            </dl>

            <div class="clear h20"></div>
        </div>
    </div>
    <div class="clear h20"></div>
    <div class="g-footer-bg">
        <div class="g-weaper">
            <div class="g-footer2">
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon6 "></em>新手指南</dt>
                    <dd><a href="http://www.kaixinbao.com/about/xszn/index.shtml#xszn1" target="_blank" rel="nofollow">如何注册</a>
                        <a href="http://www.kaixinbao.com/about//xszn/index.shtml#xszn4" target="_blank" rel="nofollow">如何投保</a>
                        <a href="http://www.kaixinbao.com/about/xszn/index.shtml#xszn3" target="_blank" rel="nofollow">找回密码</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon7 "></em>支付帮助</dt>
                    <dd><a href="http://www.kaixinbao.com/about/4/index.shtml#zfbz2" target="_blank" rel="nofollow">支付方式</a><a href="http://www.kaixinbao.com/about/4/index.shtml#zfbz1" target="_blank" rel="nofollow">支付说明</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon8 "></em>保单服务</dt>
                    <dd><a href="http://www.kaixinbao.com/ddkscx/" target="_blank" rel="nofollow">保单查询</a>
                        <a href="http://www.kaixinbao.com/ddkscx/" target="_blank" rel="nofollow">保单验真</a>
                        <a href="http://www.kaixinbao.com/about/1/index.shtml#yxxg2" target="_blank" rel="nofollow">变更与取消</a>
                        <a href="http://www.kaixinbao.com/about/1/index.shtml#yxxg1" target="_blank" rel="nofollow">保单寄送</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon9 "></em>理赔服务</dt>
                    <dd><a href="http://www.kaixinbao.com/about/2/index.shtml#lpbz1" target="_blank" rel="nofollow">理赔指南</a><a href="http://www.kaixinbao.com/lpzs/index.shtml" target="_blank" rel="nofollow">理赔报案</a>
                        <a href="http://www.kaixinbao.com/lpzs/index.shtml" target="_blank" rel="nofollow">理赔案例</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon10 "></em>服务中心</dt>
                    <dd><a href="http://www.kaixinbao.com/about/3/dayizonghui/253398.shtml" target="_blank" rel="nofollow">发票索取</a>
                        <a href="http://www.kaixinbao.com/about/3/dayizonghui/index.shtml" target="_blank" rel="nofollow">常见问题</a>
                    </dd>
                </dl>
                <div class="m-WeChatImg">
                    <p><em class="icon_01"></em><span><img src="https://resource.kaixinbao.com/images/redesign/wechart.gif" alt="">关注微信了解新资讯</span></p>
                    <p><em class="icon_02"></em><span><img src="https://resource.kaixinbao.com/images/redesign/app.png" alt="">下载APP投保快捷省心</span></p>
                </div>
            </div>
            <div class="clear h20"></div>
            <div class="clear h20"></div>
            <!-- 热门专题 -->
        </div>
    </div>
    <!-- 底部 -->
    <div class="g-btn-footer">
        <div class="g-weaper">
            <div class="g-f-left">
                <div class="botlink02">
                    <ul class="clearfix">
                        <li><a href="http://www.kaixinbao.com/other/about/" rel="nofollow">关于开心保</a></li>
                        <li>|</li>
                        <li><a href="http://www.kaixinbao.com/other/news/" rel="nofollow">开心保要闻</a></li>
                        <li>|</li>
                        <!--<li><a href="http://www.kaixinbao.com/other/jobs/" rel="nofollow">加入开心保</a></li>
                        <li>|</li>-->
                        <li><a href="http://www.kaixinbao.com/other/sitemap/">网站地图</a></li>
                        <li>|</li>
                        <li><a href="http://www.kaixinbao.com/other/legal/" rel="nofollow">法律声明</a></li>
                        <li>|</li>
                        <li><a href="http://www.kaixinbao.com/other/contact/" rel="nofollow">联系我们</a></li>
                        <li>|</li>
                        <!-- 				<li><a href="http://u.kaixinbao.com/" target="_blank" rel="nofollow">分销联盟</a></li>
                                            <li>|</li> -->
                        <!-- <li><a href="http://kaixinbao.tmall.com/" target="_blank" rel="nofollow">开心保天猫店</a></li>
                        <li>|</li>
                        <li><a href="http://temai.kaixinbao.com/" target="_blank" rel="nofollow">特价机票</a></li>
                        <li><a href="http://wap.kaixinbao.com/" target="_blank" >移动版</a></li> -->
                        <li><a href="http://www.kaixinbao.com/yxhd/isl-tra/" target="_blank" rel="nofollow">微信版</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="copyright">
                    <div class="copyrightright"><a href="https://resource.kaixinbao.com/images/bxdlywxkz.jpg" target="_blank" rel="nofollow">保险代理业务许可证</a>&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">辽ICP备12007009号-1</a>&nbsp;&nbsp;<a href="https://resource.kaixinbao.com/images/qyfryyzz.jpg" target="_blank" rel="nofollow">企业营业执照</a>&nbsp;&nbsp;<a href="https://resource.kaixinbao.com/images/icp.jpg" target="_blank" rel="nofollow">ICP经营许可证(辽B2-20120076)</a>
                    </div>
                    <div class="copyrightleft">Copyright 2012-2019 版权所有 网金保险销售服务有限公司</div>
                </div>
            </div>
            <div class="g-f-right">
                <ul class="sl-floatcenter">
                    <li class="sl-floatcenter-item">
                        <a href="https://v.pinpaibao.com.cn/cert/site/?site=www.kaixinbao.com&amp;at=business" target="_blank" rel="nofollow"><img src="http://resource.kaixinbao.com/upload/Image/xrwz/2012/12/gw.png" width="83" height="30">
                        </a>
                    </li>

                    <li class="sl-floatcenter-item"><a href="http://www.circ.gov.cn/tabid/5171/InfoID/210753/frtid/4491/Default.aspx" target="_blank" rel="nofollow"><img src="http://resource.kaixinbao.com/upload/Image/xrwz/2012/12/2582921308.png" width="90" height="37"></a></li>

                    <!--                     <li class="sl-floatcenter-item"><a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1594416088"
                                                                           target="_blank" rel="nofollow"><img
                                                src="http://resource.kaixinbao.com/upload/Image/xrwz/2012/12/2582937061.png" width="37"
                                                height="37"/></a></li> -->

                    <li class="sl-floatcenter-item"><a href="http://wljg.lngs.gov.cn/iciaicweb/dzbscheck.do?method=change&amp;id=E2014111300054343" target="_blank" rel="nofollow"><img src="http://resource.kaixinbao.com/upload/Image/xrwz/2014/12/298851182.png" width="37" height="37"></a></li>

                    <li class="sl-floatcenter-item"><a href="http://si.trustutn.org/info?sn=618161121025629572164&amp;certType=1" target="_blank" rel="nofollow"><img src="http://resource.kaixinbao.com/upload/Image/xrwz/2016/11/3061644601.png" width="90" height="37"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="fix_nav" class="fix_nav" style="right: 114.5px;">
    <a class="fix-onlineqq " href="javascript:void(0);" vlpageid="xiaoneng" rel="nofollow" exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap1" onclick="return(VL_FileDL(this));return false;">
        <img class="anim_fade_image" src="https://resource.kaixinbao.com/images/wj_kxb/icon_isp_01.jpg">
        <img src="https://resource.kaixinbao.com/images/wj_kxb/icon_isp_01_on.jpg">
    </a>
    <span class="fix-RichScan">
                    <img class="anim_fade_image" src="https://resource.kaixinbao.com/images/wj_kxb/icon_isp_02.jpg">
                    <img src="https://resource.kaixinbao.com/images/wj_kxb/icon_isp_02_on.jpg">
                    <div style="display: none;" class="weixinDiv tagshow"><img src="https://resource.kaixinbao.com/images/wxnew.png">绑微信送积分</div>
                </span>
    <span class="fix-top" id="gotop">
                    <img class="anim_fade_image" src="https://resource.kaixinbao.com/images/wj_kxb/icon_isp_03.jpg">
                    <img src="https://resource.kaixinbao.com/images/wj_kxb/icon_isp_03_on.jpg">
                </span>
</div>

</body>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript">

    function sub(){
        $("#payment_order").submit();
    }

    $(function(){
        //头部显示用户信息
        var happyuser=$("#aab").text();

        if(happyuser.length>0){
            $("#notLogin").css("display","none");
            $("#yesLogin").css("display","block");
        }

    })


</script>

</html>